---
export const prerender = true

import Main from '../components/Main'
import OpenGraph from '../components/OpenGraph.astro'
import '@fontsource/poppins/200.css'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <OpenGraph
      title="kalkafox"
      description="Hi, I do stuffs."
      url="https://kalkafox.github.io"
      image="https://i.imgur.com/700kOOU.jpg"
    />
  </head>
  <body>
    <main>
      <div class="bg-zinc-900 w-full h-full fixed"></div>
      <Main client:only />
    </main>
  </body>
</html>
